  <header class="py-4 flex items-center justify-between">
    <a href="/"><div class="logo h-40 w-40"></div></a>

    <b>
      <ul id="js-nav-highlight" class="md-flex list-none">
        <li class="px-4"><a class="text-black hover-text-red transition-colors ease duration-120" href="/">Home</a></li>
        <li class="px-4"><a class="text-black hover-text-red transition-colors ease duration-120" href="/about.html">About</a></li>
        <li class="px-4"><a class="text-black hover-text-red transition-colors ease duration-120" href="/">Hire Me</a></li>
        <li class="px-4"><a class="text-black hover-text-red transition-colors ease duration-120" href="/">The Blog</a></li>
      </ul>
    </b>
  </header>
