.shadow-sm {
  box-shadow: 0 .5rem .75rem rgba(0, 0, 0, 0.2);
}

.shadow {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.shadow-md {
  box-shadow: 0 2rem 8rem rgba(0, 0, 0, 0.2);
}

.border-white {
  border-color: white;
}

.border-solid	{
  border-style: solid;
}

.border-dashed	{
  border-style: dashed;
}

.border-dotted	{
  border-style: dotted;
}

.border-double	{
  border-style: double;
}

.border-none	{
  border-style: none;
}

.border	{
  border-width: 1px;
}

.border-0	{
  border-width: 0;
}

.border-2	{
  border-width: .2rem;
}

.border-4	{
  border-width: .4rem;
}

.border-6	{
  border-width: .6rem;
}

.border-8	{
  border-width: .8rem;
}

