.hidden	{
  display: none;
}

.block	{
  display: block;
}

.flow-root	{
  display: flow-root;
}

.inline-block	{
  display: inline-block;
}

.inline	{
  display: inline;
}

.flex	{
  display: flex;
}

.inline-flex	{
  display: inline-flex;
}

.grid	{
  display: grid;
}

.inline-grid {
  display: inline-grid;
}

@media screen and (min-width: 544px) {
  .md-hidden	{
    display: none;
  }

  .md-block	{
    display: block;
  }

  .md-flow-root	{
    display: flow-root;
  }

  .md-inline-block	{
    display: inline-block;
  }

  .md-inline	{
    display: inline;
  }

  .md-flex	{
    display: flex;
  }

  .md-inline-flex	{
    display: inline-flex;
  }

  .md-grid	{
    display: grid;
  }

  .md-inline-grid {
    display: inline-grid;
  }
}
