.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 1.2rem;
}

.pt-3 {
  padding-top: 1.6rem;
}

.pt-4 {
  padding-top: 2.2rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pt-6 {
  padding-top: 4rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 1.2rem;
}

.pr-3 {
  padding-right: 1.6rem;
}

.pr-4 {
  padding-right: 2.2rem;
}

.pr-5 {
  padding-right: 3rem;
}

.pr-6 {
  padding-right: 4rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 1.2rem;
}

.pb-3 {
  padding-bottom: 1.6rem;
}

.pb-4 {
  padding-bottom: 2.2rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.pb-6 {
  padding-bottom: 4rem;
}

.pl-0 {
  padding-left: 0rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 1.2rem;
}

.pl-3 {
  padding-left: 1.6rem;
}

.pl-4 {
  padding-left: 2.2rem;
}

.pl-5 {
  padding-left: 3rem;
}

.pl-6 {
  padding-left: 4rem;
}

.px-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.px-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-2 {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.px-3 {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.px-4 {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
}

.px-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.px-6 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-0 {
  padding-right: 0;
  padding-left: 0;
}

.py-1 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.py-2 {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
}

.py-3 {
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}

.py-4 {
  padding-right: 2.2rem;
  padding-left: 2.2rem;
}

.py-5 {
  padding-right: 3rem;
  padding-left: 3rem;
}

.py-6 {
  padding-right: 4rem;
  padding-left: 4rem;
}

.p-0 {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.p-1 {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.p-2 {
  padding-top: 1.2rem;
  padding-right: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 1.2rem;
}

.p-3 {
  padding-top: 1.6rem;
  padding-right: 1.6rem;
  padding-bottom: 1.6rem;
  padding-left: 1.6rem;
}

.p-4 {
  padding-top: 2.2rem;
  padding-right: 2.2rem;
  padding-bottom: 2.2rem;
  padding-left: 2.2rem;
}

.p-5 {
  padding-top: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
}

.p-6 {
  padding-top: 4rem;
  padding-right: 4rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
}
