<!DOCTYPE html>
<html>

  {{> head title="About Me &ndash; Aaron Sutton" }}

  <body data-nav-id="about" class="bg-white">
    <main class="px-4 md-px-6">

      {{> social }}

      {{> header }}

    {{> footer }}
  </body>
</html>
