<!DOCTYPE html>
<html>

  {{> head title="About Me &ndash; Aaron Sutton" }}

  <body data-nav-id="hire-me" class="bg-white">
    <main class="">
      
      {{> social }}

      {{> header }}

      <div class="relative mb-2">
        <img src="/images/code-banner.png" class="shadow">
        <h1 class="absolute bottom-0 left-0 text-white text-white-invert pl-4 pb-4">
        <b>Let&rsquo;s Create<br/>Something Inpsiring</b></h1>
      </div>

      <section class="px-6">
        <p class="w-three-quarter font-serif">I&rsquo;m always happy to talk about a new project. 
        Shoot me an email using the form below and I'll get back to you right away!</p>
      </section>

      <form>

      </form>
    </main>
  </body>
</html>
