<!DOCTYPE html>
<html>

  {{> head title="About Me &ndash; Aaron Sutton" }}

  <body data-nav-id="hire-me" class="bg-white">
    <main class="">
      
      {{> social }}

      {{> header }}

      <div class="relative">
        <img src="/images/code-banner.png" class="shadow">
        <h1 class="absolute bottom-0 left-0 text-white pl-4 pb-4"><b>Put Your Vision First</b></h1>
      </div>
    </main>
  </body>
</html>
