<!DOCTYPE html>
<html>

  {{> head title="Aaron Sutton &ndash; Tagline" }}

  <body data-nav-id="home" class="bg-white">
    <main class="px-4 md-px-6">

      {{> social }}

      {{> header }}

      <div class="mx-auto max-w-screen-lg">
        <div class="md-flex items-center text-center md-text-left mb-6">
          <div>
            <h1 class="text-center md-text-left">
              <strong>Web Developer and Stage Lighting Designer</strong>
              <div class="ml-1 hidden md-inline-block blink ease duration-480 
                          bg-cyan w-12 h-12 rounded-full"></div>
              <div class="ml-1 hidden md-inline-block delay-120 blink ease duration-480 
                          bg-yellow w-12 h-12 rounded-full"></div>
              <div class="ml-1 hidden md-inline-block delay-240 blink ease duration-480 
                          bg-magenta w-12 h-12 rounded-full"></div>
            </h1>

            <span class="w-40 h-4 mb-4 bg-red hidden md-block"></span>

            <article class="md-px-4 font-serif">
              <p>Owning a professional a website shouldn&rsquo;t be an afterthought.
              I seek to build websites that don&rsquo;t just fit your needs visually,
              but are also <strong>tailored to solving your problems</strong> in an online world.</p>

              <p>When not programming, I&rsquo;m behind the lighting console.
              I focus on creating high-quality lighting designs with creative vision at the core, 
              so that you can increase <strong>expression through illumination.</strong></p>
            </article>

          </div>


          <img class="md-ml-4 shadow border-8 border-white border-solid max-w-xl" 
          src="/images/headshot.png">
        </div>

        <hr class="border-gray w-half mt-4 mb-6">
        
        <article class="mb-4">
          <div class="text-center">
            <h2><b>My Latest Projects</b></h2>
            <p class="font-serif">Includes recent and current.</p>
          </div>
          <hr class="border-gray w-half mt-6 mb-6">
          <div class="md-flex flex-row-reverse items-center">
            <div class="">
              <p class="mb-1 text-red font-small"><b>LIGHTING DESIGN</b></p>
              <h2>Demidov Dance Annual Showcase</h2>
              <p class="font-serif">Dance portrays emotion, and so does the lighting that surrounds it.
              When Demidov Dance hosted their showcase, I transformed the University of Pittsburgh Alumni Hall
              into a vibrant and energetic dancefloor.
              </p>
              <span class="w-40 h-4 mb-4 bg-red hidden md-block"></span>
            </div>
            <div class="md-mr-6 text-center">
              <img class="shadow border-8 border-white border-solid"
                   src="/images/events/demidov.jpeg">
              <hr class="inline-block border-gray w-half my-4">
              <img class="shadow border-8 border-white border-solid"
                   src="/images/events/spotlights.jpeg">
            </div>
          </div>
        </article>

        <hr class="border-gray w-half my-6">

        <article class="mb-4">
          <p class="mb-1 text-red font-small"><b>WEB DEVELOPMENT</b></p>
          <h2>The Blog</h2>
          <p class="font-serif">My thoughts, tips, and a few rants I&rsquo;ve got about computer programming and web development.</p>
          <div class="text-center md-text-left">
            <a class="btn" href="">Read My Posts</a>
          </div>
        </article>
      </div>
    </main>

    {{> footer }}
  </body>
</html>
