<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <title>Aaron Sutton &ndash; Tagline </title>
  </head>

  <body class="bg-white">
    <main class="px-4 md-px-6">

      {{> social }}

      {{> header }}

      <article class="py-6 max-w-screen-lg mx-auto">
        <div class="md-flex items-center text-center">
          <div>
            <h1 class="text-center md-text-left"><strong>Web Developer and Stage Lighting Designer</strong></h1>
            <span class="w-40 h-4 bg-red hidden md-block"></span>
          </div>
          <img class="md-ml-4 shadow border-8 border-white border-solid max-w-xl" 
          src="/images/headshot.png">
        </div>
      </article>
    </main>
  </body>
</html>
